/**
 *
 * Modules
 *
 */

@use 'sass:map';
@use 'sass:color';
@use './drawer.module' as this;
@use './../foundation/theme.module' as theme;

/**
 *
 * Rules
 *
 */

.app-drawer {
  width: this.$container-width;

  .mat-list-base {
    padding: this.$list-offset;

    .mat-list-item {
      border-radius: this.$list-item-corners;

      &:not(:last-child) {
        margin: 0 0 this.$list-item-offset;
      }

      &.mat-list-item-with-avatar {
        height: this.$list-item-height;

        .mat-list-item-content {
          .mat-list-text {
            padding-left: this.$list-item-text-offset;
          }
        }
      }

      &.active {
        background: color.change(theme.mat-color(map.get(theme.$palette, 'primary')), $alpha: 0.12);
        color: theme.mat-color(map.get(theme.$palette, 'primary'));

        .mat-list-icon {
          color: inherit;
        }
      }

      .mat-list-item-content {
        padding: 0 this.$list-item-spacing;
      }

      .mat-list-text {
        > .mat-line {
          font-weight: inherit;
        }
      }

      .mat-list-icon {
        color: map.get(map.get(theme.$palette, 'foreground'), 'icon');
        padding: 0;
      }

      @include theme.mat-typography-level-to-styles(theme.$typography, 'subheading-1');
    }
  }
}
