/**
 *
 * Variables
 *
 */

$container-width: 256px;
$list-offset: 8px;
$list-item-height: 40px;
$list-item-offset: 8px;
$list-item-corners: 4px;
$list-item-spacing: 8px;
$list-item-text-offset: 32px;
