/**
 *
 * Variables
 *
 */

@use 'sass:map';
@use 'sass:color';

$color: #c67171 ;
$background-color:  #65909A;
$second-background-color : #BED4D9;

$header-font-color: $color;
$header-background-color: $background-color;
$second-header-background-color : $second-background-color;

