<mat-card  class="mat-elevation-z4 card" >
  <mat-card-header >
    <mat-card-title  >{{house.name}}</mat-card-title>
  </mat-card-header>
  <hr  />
  <mat-card-content >
    <div class="feature" >
      <p class="mat-caption title" *ngIf="house.region!==''"> Region: {{house.region}}</p>
      <p class="mat-caption info" *ngIf="house.words!==''">Words: {{house.words}}</p>
    </div>
  </mat-card-content>
  <mat-card-actions >
    <mat-list>
      <div class="card-button-row">
        <button mat-button  (click)="showDetailsPage()" >More details</button>
      </div>
    </mat-list>
  </mat-card-actions>
</mat-card>
