@use "../assets/styles/foundation/theme.module" as theme;

.mat-toolbar{
  color:  theme.mat-color(theme.$colors-font, 100 );
  background-color: theme.mat-color(theme.$colors-primary, 700 );
}

.app-header {
  height: 70px;
  background-color: theme.mat-color(theme.$colors-primary, 700 );
}

.app-content {
  top: 150px;
  overflow-y: auto;
  height: 100%;

}
.app-container {
  display: flex;
  flex-direction: column;

}
