@use 'sass:map';
@use './src/assets/styles/foundation/theme.module' as theme;


.spinner-content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.container {
  display: grid;
  grid-template: calc(100vh - 128px) / auto;
  padding-left: 25px;

}
button{
   text-decoration: underline;
   color:  theme.mat-color(theme.$colors-font, 900 );
}
.mat-toolbar{
  color:  theme.mat-color(theme.$colors-font, 900 );
  background-color: theme.mat-color(theme.$colors-primary, 200 );

  a{
    text-decoration: none;
    color:  theme.mat-color(theme.$colors-font, 900 );
  }
}




