<mat-toolbar color="warn">
  <header mat-warn class="docs-primary-header">
    <p>{{house.name}}</p>
  </header>
</mat-toolbar>
<div class="container">
  <div class="content">
    <mat-list>
      <mat-list-item *ngIf="house.name !== ''">
        <h3 matLine>Name</h3>
        <p matLine class="demo-2"> {{house.name}} </p>
      </mat-list-item >
      <mat-list-item *ngIf="house.titles[0] !== '' && house.titles.length >0 ">
        <h3 matLine>Titles</h3>
        <p matLine *ngFor="let title of house.titles" ><b>* </b> {{title}}</p>
      </mat-list-item >
      <mat-list-item *ngIf="house.seats[0] !== '' && house.seats.length >0 ">
        <h3 matLine>Seats</h3>
        <p matLine *ngFor="let seat of house.seats" ><b>* </b> {{seat}}</p>
      </mat-list-item >
      <mat-list-item *ngIf="house.region !== ''">
        <h4 matLine>Region</h4>
        <p matLine class="demo-2"> {{house.region}} </p>
      </mat-list-item>
      <mat-list-item *ngIf="house.coatOfArms !== ''">
        <h4 matLine>Coat description:</h4>
        <p matLine class="demo-2"> {{house.coatOfArms}} </p>
      </mat-list-item>
      <mat-list-item *ngIf="house.words !== ''">
        <h4 matLine>Words of this house:</h4>
        <p matLine class="demo-2">{{house.words}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="house.founded !== ''">
        <h4 matLine>Founded:</h4>
        <p matLine class="demo-2">{{house.founded}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="house.diedOut !== ''">
        <h4 matLine>Died out:</h4>
        <p matLine class="demo-2">{{house.diedOut}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="house.overlord !== ''">
        <h4 matLine>overLord:</h4>
        <p matLine class="demo-2">{{house.overlord}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="house.cadetBranches.length !== 0 ">
        <h3 matLine>Cadet branch</h3>
        <p matLine *ngFor="let cadetBranch of house.cadetBranches" ><b>* </b> {{cadetBranch}}</p>
      </mat-list-item >
      <!--<mat-list-item *ngIf="house.currentLord !== ''">
        <h4 matLine>current Lord:</h4>
        <p matLine class="demo-2">{{house.currentLord}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="house.heir !== ''">
        <h4 matLine>House's heir:</h4>
        <p matLine class="demo-2">{{house.heir}}</p>
      </mat-list-item>
       <mat-list-item  *ngIf="house.founder !== ''">
        <h4 matLine></h4>
        <p matLine class="demo-2"> {{house.founder}}
          <button  color="primary" mat-button (click)="showCharacterDetails(house.founder)">Show details about founder</button>
        </p>
      </mat-list-item >-->

    </mat-list>
    <mat-card-actions >
      <mat-list *ngIf="house.founder !== ''">
        <a
          mat-list-item
          (click)="showCharacterDetails(house.founder)">
          Founder
        </a>
      </mat-list>
      <mat-list *ngIf="house.heir !== ''">
        <a
          mat-list-item
          (click)="showCharacterDetails(house.heir)">
          House's heir
        </a>
      </mat-list>
      <mat-list *ngIf="house.currentLord  !== ''">
        <a
          mat-list-item
          (click)="showCharacterDetails(house.currentLord )">
          Current lord
        </a>
      </mat-list>
    </mat-card-actions>
  </div>
</div>






