

<div class="spinner-content" *ngIf="!house">
    <mat-spinner class="custom-spinner" color="warn"></mat-spinner>
</div>
<div *ngIf="house">
  <mat-toolbar>
    <header >
      <a routerLink="/"> Houses </a> >>  <span> {{house.name}}</span>
    </header>
  </mat-toolbar>
  <div class="container">
    <div class="content">
      <mat-list>
        <mat-list-item *ngIf="house.name !== ''">
          <h3 matLine> {{'house.name_label' | translate}}</h3>
          <p matLine class="demo-2"> {{house.name}} </p>
        </mat-list-item >
        <mat-list-item *ngIf="house.titles[0] !== '' && house.titles.length >0 ">
          <h3 matLine>{{"house.title_label" | translate}}</h3>
          <p matLine *ngFor="let title of house.titles" ><b>* </b> {{title}}</p>
        </mat-list-item >
        <mat-list-item *ngIf="house.seats[0] !== '' && house.seats.length >0 ">
          <h3 matLine>{{"house.seats_label" | translate}}</h3>
          <p matLine *ngFor="let seat of house.seats" ><b>* </b> {{seat}}</p>
        </mat-list-item >
        <mat-list-item *ngIf="house.region !== ''">
          <h4 matLine>{{"house.region_label" | translate}}</h4>
          <p matLine class="demo-2"> {{house.region}} </p>
        </mat-list-item>
        <mat-list-item *ngIf="house.coatOfArms !== ''">
          <h4 matLine>{{"house.coatOfArms_label" | translate}}</h4>
          <p matLine class="demo-2"> {{house.coatOfArms}} </p>
        </mat-list-item>
        <mat-list-item *ngIf="house.words!== ''">
          <h4 matLine>{{"house.words_label" | translate}}</h4>
          <p matLine class="demo-2">{{house.words}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="house.founded !== ''">
          <h4 matLine>{{"house.founded_label" | translate}}</h4>
          <p matLine class="demo-2">{{house.founded}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="house.diedOut !== ''">
          <h4 matLine>{{"house.diedOut_label" | translate}}</h4>
          <p matLine class="demo-2">{{house.diedOut}}</p>
        </mat-list-item>
        <mat-list-item *ngIf="house.overlord !== ''">
          <h4 matLine>{{"house.overLord_label" | translate}}</h4>
          <p *ngIf="overLordName!==''" matLine class="demo-2">{{overLordName}}</p>
          <mat-spinner *ngIf="overLordName ===''" matLine diameter="40" color="warn"></mat-spinner>
        </mat-list-item>
        <mat-list-item *ngIf="house.swornMembers.length !==0">
          <h3 matLine>{{"house.swornMembers_label" | translate}}</h3>
          <ng-container  matLine *ngIf="swornMembersName.length !== 0 ">
            <p  matLine *ngFor="let member of swornMembersName" ><b>* </b> {{member}}</p>
          </ng-container>
          <ng-container matLine *ngIf="swornMembersName.length === 0">
            <mat-spinner diameter="40" color="warn"></mat-spinner>
          </ng-container>
        </mat-list-item >
         <mat-list-item *ngIf="house.founder !== ''">
            <h4 matLine></h4>
            <p matLine class="demo-2">
              <button class="mat-list-button" matTooltip="click to show information about founder"  mat-button (click)="getCharacterDetails(house.founder)">Founder</button>
            </p>
          </mat-list-item >

        <mat-list-item *ngIf="house.heir !== ''">
          <h4 matLine></h4>
          <p matLine class="demo-2">
            <button class="mat-list-button" matTooltip="click to show information about heir"  mat-button (click)="getCharacterDetails(house.heir)">  {{'house.Heir_label' | translate}}</button>
          </p>
        </mat-list-item >

        <mat-list-item *ngIf="house.currentLord !== ''">
          <h4 matLine></h4>
          <p matLine class="demo-2">
            <button class="mat-list-button" matTooltip="click to show information about currentLord"  mat-button (click)="getCharacterDetails(house.currentLord)">  {{'house.currentLord_label' | translate}}</button>
          </p>
        </mat-list-item >
      </mat-list>
    </div>
  </div>

</div>






