<div class="page">

  <div *ngIf="showLoadingSpinner" class="spinner-content">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!showLoadingSpinner" class="card-container">
    <div>
      <app-house-card *ngFor="let house of houseList" [house]="house"></app-house-card>
    </div>
  </div>

  <div class="paginator">
    <mat-paginator (page)="$event;
                    onPaginateChange($event)"
                   [length]="length"
                   [pageIndex]="pageIndex"
                   [pageSizeOptions]="[10,15,20,50]"
                   [pageSize]="pageSize"
                   showFirstLastButtons
    ></mat-paginator>
  </div>

</div>
