@use "src/assets/styles/foundation/theme.module" as theme;

.modal-header {
  height: 100px;
  color:  theme.mat-color(theme.$colors-font, 800 );
  background-color: theme.mat-color(theme.$colors-primary, 800 );
  padding-left: 10px;
  padding-top: 20px;
}
.modal-footer {
  height: 100px;
  padding-left: 10px;
  padding-top: 20px;
}
.modal-content {
  bottom: 100px;
  top: 150px;
  overflow-y: auto;
  height: 100%;

}
.modal {
  display: flex;
  flex-direction: column;
  height: 570px;
  width: 320px;
}



