
<div class="modal">


<div class="modal-header" > <h1>{{data.name}}</h1></div>

<div class="modal-content">

  <mat-list>
    <mat-list-item role="listitem" *ngIf="data.name !== ''">
      <h5 matLine>Name</h5>
      <p matLine>
        {{data.name}}
      </p>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.gender !== ''">  <h5 matLine>Gender</h5><p matLine>{{data.gender}} </p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.culture!== ''">  <h5 matLine>Culture</h5><p matLine>{{data.culture}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.born !== ''">  <h5 matLine>Born</h5><p matLine>{{data.born}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.died !== ''">  <h5 matLine>Died</h5><p matLine>{{data.died}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.titles.length !== 0 ">  <h5 matLine>Title's list</h5><p matLine *ngFor="let title of data.titles" ><b>* </b> {{title}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.aliases.length !== 0 ">  <h5 matLine>Aliases</h5><p matLine *ngFor="let alias of data.aliases" ><b>* </b> {{alias}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.books.length !== 0 ">  <h5 matLine>Books in it...</h5><p matLine *ngFor="let book of data.books" ><b>* </b> {{book}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.povBooks.length !== 0 ">  <h5 matLine>PowBooks list</h5><p matLine *ngFor="let povbook of data.povBooks" ><b>* </b> {{povbook}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.tvSeries.length !== 0  &&  data.tvSeries[0] !==''">  <h5 matLine>tv series</h5><p matLine *ngFor="let tvserie of data.tvSeries" ><b>* </b> {{tvserie}}</p></mat-list-item>
    <mat-list-item role="listitem" *ngIf="data.books.length !== 0 ">  <h5 matLine>Books in it...</h5><p matLine *ngFor="let book of data.books" ><b>* </b> {{book}}</p></mat-list-item>




  </mat-list>



</div>


<div class="modal-footer" >

    <button mat-button mat-dialog-close color="warn">Close</button>

</div>

</div>

